{% extends 'catalog/base.html' %}
{% block content_product_list %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Создание продукта</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <form class="row" method="POST" enctype="multipart/form-data">
                        <p class="card-text">Действительно хотите удалить {{ object.name }}?</p>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="col">
                            <button type="submit" class="btn btn-lg btn-block btn-outline-primary">
                                Удалить
                            </button>
                            <a href="{% url 'product_list' %}" type="button"
                               class="btn btn-lg btn-block btn-outline-primary">Отмена</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}